@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-josefin), sans-serif;
  --font-heading: var(--font-patua), serif;
}

body {
  font-family: var(--font-josefin), sans-serif;
}